.env
__pycache__/
*.py[cod]
*.log
*.sqlite-journal
*.db-journal
*.db-shm
*.db-wal

# Python
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env
