<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>LOGIN RELATÓRIOS</title>
</head>
<body>
  <h2>Login Para Realizar a Visualização dos Relatórios do Bistro</h2>
  <form
    method="POST"
    action="{{ url_for('auth_relatorios.login') }}"
    id="loginForm"
  >
    {{ form.hidden_tag() }}
    <label for="email"><strong>Email</strong></label><br>
    {{ form.email(
      id="email",
      placeholder="email...",
      autocomplete="email"
    ) }}<br>
    <span id="erroEmail">
      {% for erro in form.email.errors %}
        {{ erro }}
      {% endfor %}
    </span><br><br>
    <!-- aba das senhas-->
    <label for="senha"><strong>Senha</strong></label><br>
    {{ form.senha(
      id="senha",
      placeholder="senha...",
      autocomplete="current-password"
    ) }}<br>
    <span id="erroSenha">
      {% for erro in form.senha.errors %}
        {{ erro }}
      {% endfor %}
    </span><br><br>

    {{ form.submit(id="botaoEntrar") }}
    {% with mensagens = get_flashed_messages(with_categories=true) %}
      {% if mensagens %}
        {% for categoria, mensagem in mensagens %}
          <p class="mensagem {{ categoria }}">
            {{ mensagem }}
          </p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </form>
</body>
</html>
